.commodity{
  position: absolute;
  width: 230px;
  height: 230px;
  top: 200px;
  left: 200px;
  overflow: hidden;
}
.bgimg{
  position: absolute;
  width: 230px;
  height: 230px;
}
.mask{
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  background: #f66f61;
  opacity: 0.5;
  border: 1px solid #ccc;
  cursor: move;
}
.bigimg{
  position: absolute;
  display: none;
  width: 460px;
  height: 460px;
  left: 460px;
  top:120px;
  background: red;
  overflow: hidden;
}
.bigbgimg{
  position: absolute;
  width: 575px;
  height: 575px;
  top:0;
  left: 0;
}
