@charset "utf-8";
body{
	margin: 0;
	padding: 0;
}
.headtop{
	position: relative;
	width: 100%;
	height: 60px;
	background: #333;
}
.headtopbody{
	position: relative;
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.headtoplogo{
	position: relative;
	width: 200px;
	height: 20px;
	top:20px;
}
.headsearch{
	position: relative;
	width: 330px;
	height: 30px;
	top:-8px;
	left: 500px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #386dd3;
}
#inputsearch{
	position: relative;
	width: 220px;
	height: 28px;
	left: 10px;
	border: none;
}
#searchlogo{
	position: relative;
	width: 18px;
	top:4px;
	left: 5px;
}
.searchbt{
	position: relative;
	float: right;
	width: 80px;
	height: 30px;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	cursor: pointer;
	text-align: center;
	background: #386dd3;
}
.searchbt:hover{
	background: #4480f0;
}
.findclub{
	position: absolute;
	width: 80px;
	height: 33px;
	top:12px;
	left: 845px;
	color: #fff;
	cursor: pointer;
	line-height: 33px;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
	background: #ff8300;
}
.findclub:hover{
	background: #ff9600;
}
.findclub img{
	position: relative;
	top:2px;
	left: 4px;
	width: 14px;
}
.headtopright{
	position: absolute;
	width: 250px;
	height: 40px;
	top:10px;
	line-height: 40px;
	left: 940px;
}
#robot{
	position: relative;
	float: left;
	top:5px;
	width: 35px;
	padding-right: 10px;
}
.headtopright a{
	color: #d8d8d8;
	text-decoration: none;
}
.headup{
	position: absolute;
	width: 130px;
	height: auto;
	left: 45px;
}
.wzdh{
	position: absolute;
	width: 80px;
	height: auto;
	left: 130px;
}
.more{
	position: absolute;
	width: 50px;
	height: auto;
	left: 220px;
}
.wzdh img,.more img{
	position: relative;
	float: right;
	width: 15px;
	top:14px;
}
.headtopright a:hover{
	color: #fd6500;
}
.headnav{
	position: relative;
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}
.headlogo{
	position: relative;
	width: 250px;
	height: 80px;
	line-height: 80px;
}
.headlogo img{
	position: relative;
	width: 145px;
	top:5px;
}
.headlogo a{
	color: #ed750f;
	font-size: 35px;
}
.navbody{
	position: absolute;
	width: 920px;
	height: 80px;
	top:0px;
	line-height: 80px;
	left:260px;
}
.navbody li{
	list-style: none;
	margin: 0 20px;
	display: inline-block;
}
.navbody a{
	color: #000;
	font-size: 20px;
	text-decoration: none;
}
.navbody a:hover{
	color: #386ed3;
}
.topad{
	position: relative;
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.topad img{
	width: 1200px;
}