body{
	margin: 0;
	padding: 0;
}
.all{
	position:relative;
	width: 100%;
	height: 800px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image:url(../images/201807311021162143.jpg);
}
.nr{
	position: relative;
	width: 1500px;
	height: 500px;
	margin:0 auto;
}
.s1{
	position: absolute;
	color:rgba(250,195,47,1.00);
	font-size: 50px;
	margin-left: 100px;
	margin-top: 10px;
	font-weight: bold;
}
.s2{
	position: absolute;
	color:rgba(72,129,174,0.80);
	font-size: 40px;
	font-weight: bold;
	margin-left: 220px;
	margin-top: 40px;
}
.body{
	position: absolute;
	width: 1400px;
	height: 560px;
	margin-top: 100px;
	margin-left: 50px;
	box-shadow: 2px 2px 20px;
	background-image: url(../images/201903291041091523.jpg);
	border-radius: 30px;
}
.navleft{
	position: absolute;
	width: 300px;
	height: 515px;
	margin: 25px;
	border-radius:30px;
	background:#fff;
}
.navleft a{
	text-decoration: none;
	color:rgba(231,0,20,1.00);
	font-weight: 400;
}
.tx{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 150px;
	margin-left: 60px;
	margin-top: 20px;
	box-shadow: 1px 1px 5px;
	background-size: 100% 100%;
	transition: all 1s steps(60);
	background-image: url(../images/tx.PNG);
}
.tx:hover{
	transform: rotate(360deg);
}
.dh{
	position: relative;
	width: 140px;
	height: 40px;
	margin: 0 auto;
	top: 210px;
	border-radius: 15px;
	margin-top: 30px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	letter-spacing: 3px;
	transition: all 0.3s steps(60);
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	background-size: 10px 40px;
	background:rgba(248,212,214,1.00);
}
.dh:hover{
	width: 160px;
	color: rgba(0,161,233,1.00);
}
.zxxx{
	position:absolute;
	width: 40px;
	height: 100px;
	border-radius: 10px;
	margin-left: 470px;
	margin-top: 120px;
	font-size: 18px;
	padding-left: 7px;
	color: #fff;
	background:rgba(231,0,20,1.00);
}
.newxx{
	position: absolute;
	width: 700px;
	height: 290px;
	margin-left: 500px;
	margin-top: 30px;
	border-radius: 30px;
	font-size: 20px;
	line-height: 29px;
	box-shadow: 1px 1px 5px;
	background: rgba(255,255,255,1.00);
}
.newxx a{
	position: absolute;
	margin: 18px;
}
.btm1,.btm2,.btm3{
	position: absolute;
	width: 200px;
	height: 200px;
	margin-top: 350px;
}
.btm2{
	margin-left: 250px;
}
.btm3{
	margin-left: 500px;
}
.btm1 img,.btm2 img,.btm3 img{
	width:200px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #000;
}
.btm1ck,.btm2ck,.btm3ck{
	position:absolute;
	width: 800px;
	height: 500px;
	top:-970px;
	z-index: 999;
	transition: all 1s steps(60);
	background-size: 800px 500px;
	box-shadow: 2px 2px 20px #000;
	background-image:url(../images/201804251335156152.jpg);
}
.btm2ck{
	top:-960px;
	left: -250px;
	z-index: 998;
	background-image:url(../images/201806011047033660.jpg);
}
.btm3ck{
	top:-950px;
	left: -500px;
	z-index: 997;
	background-image:url(../images/201807311021162143.jpg);
}
.btm1:hover .btm1ck,.btm2:hover .btm2ck,.btm3:hover .btm3ck{
	top: -350px;
}