@charset "utf-8";
.all {
	width: auto;
	height: 855px;
	background-color: rgb(255,111,97);
}
.body {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 845px;
	border: 2px rgba(0,0,0,1.00)solid;
	box-shadow: 3px 3px 3px;
}
.header {
	margin: 0 auto;
	width: 1200px;
	height: 100px;
	line-height: 100px;
	box-shadow: 5px 5px 5px;
	background-image: url(../image/TIM%E5%9B%BE%E7%89%8720181209155953.jpg);
}
.bottom {
	position: absolute;
	text-align: center;
	line-height: 50px;
	width: 1200px;
	height: 50px;
	background-image: url(../image/TIM%E5%9B%BE%E7%89%8720181209155953.jpg);
}
p {
	font-family: Microsoft Yahei;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 50px;
}
.nav {
	position: absolute;
	z-index:999;
	margin: 0 auto;
	width: 1200px;
	height: 50px;
	word-spacing: 90px;
	text-align: center;
	box-shadow: 5px 5px 5px;
	background: rgba(0,0,0,1.00);
}
body {
	background-color: #FFF;
	color: #000;
}
.dh{
	z-index:999;
	float: left;
	margin-bottom: 10px;
	width:300px;
	height: 50px;
	background-color: #f66f61;
	line-height: 50px;
}
ul.menu {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.menu li {
	background:#ff6f61;
	box-shadow: 5px 5px 5px;
	font: 1.2em arial, helvetica, sans-serif;
}
a.menuLink, li a {
	text-decoration: none;
	color: rgba(0,0,0,1.00);
}
a.menuLink {
	font-size:28px;
	font-weight: bold;
}

ul.menu li a:hover{
	background: rgba(0,0,0,1.00);
	color: #FFF;
}
h1 {
	margin: 0;
	font-size: 30px;
}
.login {
	width: 300px;
	height: 150px;
	margin-top: 55px;
	background-image: url(../image/TIM%E5%9B%BE%E7%89%8720181209155953.jpg);
}
.new {
	width: 300px;
	height: 485px;
	margin-top: 5px;
	background-image: url(../image/TIM%E5%9B%BE%E7%89%8720181209155953.jpg);
}
.hx3 {
	width: 300px;
	height: 3px;
	margin-top: 3px;
	background-color: rgba(0,0,0,1.00);
}
.newrizhi {
	position: absolute;
	top: 155px;
	left: 305px;
	width: 895px;
	height: 640px;	
	background-image: url(../image/TIM%E5%9B%BE%E7%89%8720181209155953.jpg);
}
.xhx {
	width: 895px;
	height: 3px;
	margin-top: 5px;
	background-color: rgba(0,0,0,1.00);
}
#ddate{
	margin-top: 5px;
	margin-left: 5px;
	font-size: 20px;
}
#ddate2{
	position: absolute;
	font-size: 20px;
	margin-left: 380px;
	margin-top: -26.5px;
}
.cs{
	position: absolute;
	font-size: 20px;
	margin-left: 750px;
	margin-top: -26.5px;
}
#mm{
	height:640px;
}
#leftDiv,#rightDiv{
width:120px;
height:250px;
position:absolute;
}
#arrow{
	width: 300px;
	height: 450px;
}