@charset "utf-8";
/* CSS Document */

.all{
	position: relative;
	width: 100%;
	height: 1500px;
	font-family: "Microsoft Yahei";
	background-image: url(../images/bj.jpg);
}
.nr{
	width: 1100px;
	height: 1500px;
	margin: 0 auto;
	background-image: url(../images/bj2.jpg);
}
.nr p{
	color:#A39D95;
	font-size: 20px;
	margin-left: 50px;
}
.headtop{
	width: 1100px;
	height: 200px;
	margin: 0 auto;
	background-image: url(../images/index.jpg);
}
.head{
	width: 1000px;
	height: 50px;
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	line-height:15px;
	word-spacing: 2em;
	text-align: center;
	border: 2px solid rgba(153,153,153,1.00);
	background-image: url(../images/head.jpg);
}
.head li{
	display: inline-block;
	text-decoration: none;
	font-size: 30px;
}
a{
	text-decoration: none;
}
.jxbj2 a:link{
	color:red;
}
.jxbj2 a:hover{
	color:#809590;
}
.head a:link ,a:visited{
	color: #000;
}
.head a:hover {
	color: #FFFFFF;
	background: #000;
	padding-top: 20px;
	padding-bottom: 12px;
	text-decoration: none;
}
.top2{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	background-image: url(../images/top1.jpg);
}
.bk{
	width: 1000px;
	height: 1200px;
	margin: 0 auto;
	border: 2px solid rgba(153,153,153,1.00);
}
.juxing1{
	width: 1000px;
	height: 50px;
	background-image: url(../images/juxing.jpg);
}
.jxbj{
	position: absolute;
	width: 100px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	background:#ed1941;
}
.jxbj1{
	position: absolute;
	width: 150px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	background:#ed1941;
}
.jxbj2{
	line-height: 50px;
	color: #ed1941;
	font-size: 25px;
	float: right;
	cursor: pointer;
}
.tp{
	margin-top: 10px;
}
.tupiantop{
	position: absolute;
	width: 200px;
	height: 150px;
	background-image: url(../images/lb.jpg);
}
.tupiantop2{
	position: absolute;
	width: 200px;
	height: 150px;
	margin-left: 200px;
	background-image: url(../images/df.jpg);
}
.tupiantop3{
	position: absolute;
	width: 200px;
	height: 150px;
	margin-left: 400px;
	background-image: url(../images/lqz.jpg);
}
.tupiantop4{
	position: absolute;
	width: 200px;
	height: 150px;
	margin-left: 600px;
	background-image: url(../images/ww.jpg);
}
.tupiantop5{
	position: absolute;
	width: 200px;
	height: 150px;
	margin-left: 800px;
	background-image: url(../images/ss.jpg);
}
.juxing2{
	position: absolute;
	width: 350px;
	height: 50px;
	margin-top: 160px;
	border: 2px solid rgba(231,219,203,1.00);
	background-image: url(../images/juxing.jpg);
}
.juxing3{
	position: absolute;
	width: 636px;
	height: 50px;
	margin-top: 160px;
	margin-left: 360px;
	border: 2px solid rgba(231,219,203,1.00);
	background-image: url(../images/juxing.jpg);
}
.jxnr1{
	position: absolute;
	margin-top: 50px;
	width: 350px;
	height: 300px;
	border: 1px solid rgba(231,219,203,1.00);
	background-image: url(../images/bj2.jpg);
}
.jxnr2{
	position: absolute;
	margin-top: 50px;
	width: 635px;
	height: 300px;
	border: 1px solid rgba(231,219,203,1.00);
	background-image: url(../images/bj2.jpg);
}
.juxing4{
	position: absolute;
	width: 350px;
	height: 50px;
	margin-top: 520px;
	border: 2px solid rgba(231,219,203,1.00);
	background-image: url(../images/juxing.jpg);
}
.jxnr3{
	position: absolute;
	margin-top: 50px;
	width: 350px;
	height: 350px;
	border: 1px solid rgba(231,219,203,1.00);
	background-image: url(../images/bj2.jpg);
}
.juxing5{
	position: absolute;
	width: 350px;
	height: 50px;
	margin-top: 520px;
	margin-left: 360px;
	border: 2px solid rgba(231,219,203,1.00);
	background-image: url(../images/juxing.jpg);
}
.jxnr4{
	position: absolute;
	margin-top: 50px;
	width: 350px;
	height: 350px;
	font-size: 25px;
	line-height: 60px;
	text-align: center;
	border: 1px solid rgba(231,219,203,1.00);
	background-image: url(../images/bj2.jpg);
}
.juxing6{
	position: absolute;
	width: 275px;
	height: 50px;
	margin-top: 520px;
	margin-left: 720px;
	border: 2px solid rgba(231,219,203,1.00);
	background-image: url(../images/juxing.jpg);
}
.jxnr5{
	position: absolute;
	margin-top: 50px;
	width: 275px;
	height: 350px;
	font-size: 25px;
	line-height: 38px;
	letter-spacing:2px;
	text-align: center;
	border: 1px solid rgba(231,219,203,1.00);
	background-image: url(../images/bj2.jpg);
}
h3{
	margin-left: 10px;
	line-height: 29px;
}
.three{
	position: absolute;
	margin-left: 270px;
	margin-top: 50px;
	line-height: 25px;
}
.three2{
	position: absolute;
	margin-left: 550px;
	margin-top: 50px;
	line-height: 25px;
}
.sjnr1{
	width: 130px;
	height: 50px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 18px;
	line-height: 50px;
	text-align: center;
	box-shadow: 1px 1px 1px 1px #000;
	background: rgba(224,212,196,1.00);
}
.lb{
	position: absolute;
	margin-left: 150px;
	margin-top: 20px;
	color:#E2A900;
	font-weight: 700;
}
.lb a{
	color: rgba(255,0,4,1.00);
}
