@charset "utf-8";
.all{
	position: relative;
	width: 100%;
	height: 700px;
}
.pic{
	width: 700px;
	height: 700px;
	line-height: 550px;
	margin: 0 auto;
}
.pic1{
	position: absolute;
	width:300px;
	height:180px;
}
.pic2{
	position: absolute;
	width:300px;
	height:180px;
	margin-top: 200px;
}
.pic3{
	position: absolute;
	width:300px;
	height:180px;
	margin-left: 320px;
}
.pic4{
	position: absolute;
	width:300px;
	height:180px;
	margin-left: 320px;
	margin-top: 200px;
}

